langchain
langchain-community
openai
mysql-connector-python
streamlit
pandas
# Núcleo de LangChain
langchain>=0.1.17
langchain-community>=0.0.19
langchain-experimental
# Conector para modelos OpenAI
langchain-openai>=0.0.5

# Cliente oficial de OpenAI
openai>=1.0.0
# Cargadores de documentos, PDF y otros
pypdf
python-docx
tiktoken
openpyxl>=3.1.0
# Vectorstore en memoria
faiss-cpu
XlsxWriter>=3.1.9
# App web
streamlit

# Otros
python-dotenv
