langchain
langchain-community
openai
mysql-connector-python
streamlit
pandas
# Núcleo de LangChain
langchain>=0.1.17
langchain-community>=0.0.19
langchain-experimental
# Conector para modelos OpenAI
langchain-openai>=0.0.5

# Cliente oficial de OpenAI
openai>=1.0.0
pip install --upgrade openai
# Cargadores de documentos, PDF y otros
pypdf
python-docx
tiktoken

# Vectorstore en memoria
faiss-cpu

# App web
streamlit

# Otros
python-dotenv
